<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="net.lardcave.keepassnfc"
          android:versionCode="5"
          android:versionName="1.4">

	<uses-sdk
		android:minSdkVersion="19"
		android:targetSdkVersion="19"/>

	<uses-permission android:name="android.permission.NFC"/>
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>

	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:supportsRtl="true"
		android:theme="@style/AppTheme">
		<activity android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".WriteNFCActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="net.lardcave.keepassnfc.WRITE_NFC_ACTION"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".ReadActivity"
			android:icon="@drawable/ic_launcher">
			<intent-filter>
				<action android:name="android.nfc.action.NDEF_DISCOVERED"/>

				<category android:name="android.intent.category.DEFAULT"/>

				<data android:mimeType="application/x-keepassnfc-3"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".NoKeepassActivity"
			android:label="@string/title_activity_no_keepass"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>
		<activity
			android:name=".PrepareNewTagActivity"
			android:label="KeePassNFC"
			android:theme="@style/AppTheme.NoActionBar">
		</activity>
	</application>

</manifest>